body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 20px;
    
}
header{
    background-color: #F4D03F;
   text-align: center;
   padding-top: 35px;

}
h1, h2{
    font-family: 'Do Hyeon', sans-serif;
   }
header h1 {
    color: #C0392B;
    font-size: 90px ; 
    padding-bottom: 15px;
    
}
header img {
    border: 20px solid #F2F3F4 ;
    border-bottom: 35px solid #F2F3F4;

}
main{
    max-width: 800px;
    margin: 0 10px 10px 120px;
    padding: 0 20px;
    line-height: 30px ;
    margin-top: 0;
    margin-left: 250px;
}
main img{
    max-width: 100%;
}
h2{ 
    font-size: 35px;
    color: #C0392B;
}
a{
    color: #C0392B;
}
 a:hover{
     color:#5DADE2;
 }
 footer{
    background-color: #F4D03F;
    text-align: center;
    padding: 1px;

 }
 p.caption{
     color: #F39C12;
    margin-top: 0;
 }
 p.asdf{
     margin-left: 20px;
     margin-top: 0;
 }

